$primarybgcolor: #fec600;
$btnhovercolor: #fec600;
$sectionbgcolor: #000;
$buttonbordercolor: #fff;
$aboutbgcolor: #eeeeee;
$aboutbordercolor: #414141;
$aboutcirclebg: #353535;
$aboutbghovercolor: #cccccc;
$commentbackground: #f1f1f1;
$footerbackground: #222;